.card-main{
float: left;}
.pos {
    margin-bottom: 12px;
  }
  .death{
    color:red !important;
    font-weight: 600 !important;

}.new{
    color:blue !important;
    font-weight: 600 !important;
    
}.rec{
    color:green !important;
    font-weight: 600 !important;
   
}
.card-root1{
    background-color: rgb(125, 188, 251) !important;
}
.card-root2
{
    background-color: rgb(246, 155, 139) !important;
}
.card-root3{
    background-color: rgb(117, 148, 116) !important;
}